/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
section {
    border: 2px dashed darkorange;
}

/*? Header */
nav {
    height: 80px;
    background-color: #2c3e50;
}

.cs-jumbotron {
    height: 600px;
    background-color: #1abc9c;
}

/* Navbar */
nav {
    border: 1px dashed white;
}

.cs-nav-left {
    background-color: darkgoldenrod;
}

.cs-nav-right {
    background-color: pink;
}

/* Jumbotron */
.cs-jumbotron-content {
    border: 2px solid black;
}

/*! Main */

/* Section Portfolio */
.cs-title-portfolio {
    border: 2px solid violet;
}

.cs-row {
    border: 1px dashed darkblue;
}

.cs-row .col {
    border: 2px solid greenyellow;
    height: 250px;
}

/* Section About */
#about {
    background-color: #1abc9c;
}

.cs-title-about {
    border: 2px solid violet;
}

.cs-button-about {
    border: 2px solid dodgerblue;
}

/* Section Form */
.cs-title-form {
    border: 2px solid violet;
}

.cs-content-form {
    border: 2px solid sienna;
    height: 300px;
}

.cs-content-button {
    border: 2px solid dodgerblue;
}